body {
    background-color:#F6F6F6;
}

.mainContainer {
    margin: 20px 20px 20px 20px;

}

h1.admin {
    display: flex;
    justify-content: center;
}

.dataTable {
    display:flex;
}

.dataTable>p {
    margin: 0px 8px 0px 0px;
}

.errorEl {
    color:red;
    font-weight: bold;
}

tr>th {
    font-weight: normal;
    float:left;
}

tr {
    margin-bottom: 4px;
}

table {
    background-color:FloralWhite;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:24px;
    
}

th, td {
    padding: 1px 16px; /* Adjust padding as needed for space between th and td */
    text-align: left;
}
