nav {
    display: inline;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    color: rgb(26, 26, 26);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 100);
    cursor: pointer;
  
  }