body {
    background-color:#F6F6F6;
}

.adminMainContainer {
    /* margin: 20px 20px 20px 20px; */
    padding-bottom: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.adminContent {
    display: flex-col;
    gap:200px;
}

.adminViewAllContainer {
    margin-top:80px;
}

.userTable thead tr {
    background-color: grey; /* Set the background color for the first row (thead tr) */
    color: white; /* Set text color to white for contrast */
}

.userTable {
    width: 100%; /* Ensure the table takes up the full width */
    border-collapse: collapse; /* Collapse borders for cleaner look */
}

.userTable th, .userTable td {
    padding: 10px;
    border: 1px solid #ddd;
    
}

.userTable th {
    text-align: left;
}

.userTable td {
    text-align: left;
}

.userTable th, .userTable td {
    padding-right: 20px;
}

.errorEl {
    color:red;
    font-weight: bold;
}

.userSettingContainer tr>th {
    font-weight: normal;
    float:left;
}

.userSettingContainer tr {
    margin-bottom: 4px;
}


.userSettingContainer th, td {
    padding: 1px 16px; /* Adjust padding as needed for space between th and td */
    text-align: left;
}



.userContainerMain {
    display: flex-col;
    padding: 20px;
    margin-top: 60px;
    
}

.userContainerMainHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.userContainerMain td {
    font-weight: bold;

}

.userContainerMain table td:first-child {
    text-align: right;

}

#changePassword {
    text-align:left;
    font-weight:600;
    font-size: 24px;
    padding-top:20px;
    width: 240px;
    
}

.userContainerContent{
    /* position: absolute; */
    display: flex-col;
    border: 2px solid #ddd;
    padding: 8px 8px 60px 8px;
    border-radius: 4px;
}



.userContainerContent>div {
    display: flex;
}

.userContainerContent {

}

.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordContainer > div {
    display: flex;
}

.passwordContainer > div > p {
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    padding-top: 40px;
}

.deleteButton {
    position: absolute;
    right: 3rem;
}

.saveButton {
    position: absolute;
    left: 3rem;
}

.updatedButton {
    position: absolute;
    left: 3rem;
    background-color: transparent;
    color:green;
    padding:6px;
    
}

.bi-check-lg {

}

.bi-x-lg {

}

.yesContainer {
    cursor: pointer;
}

.yesContainer:hover {
    background-color: grey;
}

.noContainer {
    cursor: pointer;
}

.noContainer:hover {
    background-color:grey;
}

.deleteConfirmContainer {
    position: absolute;
    right: 3rem;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.deleteConfirmContainer>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteText {
    cursor: default;
}