body {
    background-color:#F6F6F6;
}

.adminMainContainer {
    /* margin: 20px 20px 20px 20px; */
    padding-bottom: 200px;
}

.adminContent {
    display: flex;
    gap:200px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
}

.userTable th,
.userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background-color: #f4f4f4;
}

.userTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.userTable tr:hover {
    background-color: #f1f1f1;
}

h1.admin {
    display: flex;
    /* justify-content: center; */
}

.dataTable {
    display:flex;
}

.dataTable>p {
    margin: 0px 8px 0px 0px;
}

.errorEl {
    color:red;
    font-weight: bold;
}

tr>th {
    font-weight: normal;
    float:left;
}

tr {
    margin-bottom: 4px;
}

.adminTable {
    background-color:FloralWhite;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:24px;
    
}

th, td {
    padding: 1px 16px; /* Adjust padding as needed for space between th and td */
    text-align: left;
}



.userContainerMain {
    display: flex-col;
    padding: 20px;
    margin-top: 60px;
    
}

.userContainerMainHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.userContainerMain td {
    font-weight: bold;

}

.userContainerMain table td:first-child {
    text-align: right;

}

#changePassword {
    text-align:left;
    font-weight:600;
    font-size: 24px;
    padding-top:20px;
    width: 240px;
    
}

.userContainerContent{
    /* position: absolute; */
    display: flex-col;
    border: 2px solid #ddd;
    padding: 8px 8px 60px 8px;
    border-radius: 4px;
}



.userContainerContent>div {
    display: flex;
}

.userContainerContent {

}

.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordContainer > div {
    display: flex;
}

.passwordContainer > div > p {
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    padding-top: 40px;
}

.deleteButton {
    position: absolute;
    right: 3rem;
}

.saveButton {
    position: absolute;
    left: 3rem;
}
