nav {
  display: inline;
  margin: 5px;
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border: 1px solid black;
  text-decoration: none;
  font-weight: bold;
  color: rgb(26, 26, 26);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 100);
  cursor: pointer;

}

.headHome h1{
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 3px;
}

.accountHome{
  border: 1px dashed black;
  border-radius: 3px;
  margin-bottom: 1%;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center; /* Center text */
}

.accountHome h2{
  font-size: smaller;
  text-align: left;
}

.partsHome{
  border: 1px dashed black;
  border-radius: 3px;
  margin-bottom: 1%;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center; /* Center text */
}

.partsHome h2{
  font-size: smaller;
  text-align: left;
}

.ordersHome{
  border: 1px dashed black;
  border-radius: 3px;
  margin-bottom: 1%;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center; /* Center text */
}

.ordersHome h2{
  font-size: smaller;
  text-align: left;
}